<!--để dùng view file thì ta dùng safe pipe ( sau đó declare + export ở trong share)-->
<ng-container *ngIf="url">
  <iframe  [src]="url | safe : 'resourceUrl'" style="width: 100%; height: 450px"></iframe>
  <a #downloadLink></a>
  <div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-outline-secondary mr-2" (click)="downloadFile()">Tải xuống</button>
  </div>
</ng-container>

<!--<img [src]="handleGetAvatar(dataSub.imgBase64)" />-->
<!--<ng-container *ngIf="dataSub">-->
<!--  <img [src]="handleGetAvatar(dataSub.imgData.imgBase64)" />-->
<!--&lt;!&ndash;  {{dataSub.imgBase64}}&ndash;&gt;-->
<!--</ng-container>-->

<!--{{dataSub.imgBase64.toString()}}-->


