<div class="container">
  <div class="row">
    <div class="col-6 ">
<!--      <app-form-user-->
<!--        [title]="title"-->

<!--      >-->

<!--      </app-form-user>-->
    </div>
    <div class="col-6 jumbotron ">
<!--      <app-form-group>-->

<!--      </app-form-group>-->
    </div>



  </div>
  <hr>
  <div class="row">
    <div class="col-6">
<!--      <app-form-nested>-->

<!--      </app-form-nested>-->
    </div>
    <div class="col-6">
<!--      <app-form-with-formbuilder>-->

<!--      </app-form-with-formbuilder>-->
    </div>
  </div>
</div>


