.filter .feature.expand .property {
  display: flex !important;
}
.filter .property {
  /* position: absolute; */
  top: 40px;
  right: 0;
  width: 500px;
  padding: 10px 15px 0 15px;
  border: 1px solid #eee;
  background-color: #fff;
  z-index: 2;
  flex-flow: row wrap;
  flex: 1 100%;
  display: none;
  border-radius: 4px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
}
