<!--<p>order-payment works!</p>-->
<!--<button (click)="createHoaDon()">Generate PDF</button>-->
<div class="container" style="padding: 20px" style="overflow: scroll; text-align: right">
  <iframe *ngIf="pdfUrl" [src]="pdfUrl" frameborder="0" class="mt-2" style="width:100%;height:40rem;"></iframe>
<!--  <button class="btn btn-primary mt-5" style="margin: auto" (click)="pdfService.onDownload()">In hóa đơn</button>-->
  <button class="btn btn-primary" style="margin: auto; text-align: center" (click)="dialogRef.close({result: true})">Hoàn tất</button>
</div>

