<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <a class="logo" routerLink="/" title="Về trang chủ" aria-label="logo">
        <img src="../../../../assets/images/logo.png"
             class="icontgdd-logo img-fluid">
      </a>
    </div>
    <div class="col-10">
      <div class="row header-one">
        <div class="col-5 one-left">
          <p class="text-primary pull-right">Hôm nay: {{ now | date : 'dd-MM-yyyy hh:mm:ss a' }}</p>
          <a style="text-decoration: none" href="tel:0347373332"><i class="fa fa-phone"></i>
            0347373332</a>
          <br>
          <a style="text-decoration: none"
             href="mailto:cwatch@gmail.com}}"><i class="fa fa-envelope"></i>
            cwatch@gmail.com</a>

        </div>

        <div class="col-4" style="max-width: 31%">
          <div class="dropdown d-inline-block">
            <button class="btn nut-account  btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b *ngIf="checkUser()">{{getNameUser()}}</b><i *ngIf="!checkUser()" class="fa fa-user"
                                                             aria-hidden="true"></i>Tài khoản
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <!--              <a class="dropdown-item" href="#">Action</a>-->
              <!--              <a class="dropdown-item" href="#">Another action</a>-->
              <!--              <a class="dropdown-item" href="#">Something else here</a>-->
              <button mat-menu-item *ngIf="!checkUser()" (click)="register()">
                Đăng kí tài khoản
              </button>
              <button mat-menu-item *ngIf="!checkUser()" (click)="logIn()">
                Đăng nhập
              </button>
              <button mat-menu-item *ngIf="checkUser()" (click)="logOut()">
                Đăng xuất
              </button>
              <button mat-menu-item *ngIf="checkUser()" (click)="logOut()">
                Đổi mật khẩu
              </button>
              <button mat-menu-item *ngIf="checkUser()" (click)="informationShow()">
                Thông tin cá nhân
              </button>
              <button mat-menu-item *ngIf="checkUser()" (click)="logOut()">
                Lịch sử mua hàng
              </button>
            </div>
          </div>

          <div class="dropdown d-inline-block ml-2">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuLanguage"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b style="color: rgba(165, 42, 42, 0.66)">{{translate.currentLang == 'vi' ? 'VI' : 'EN'}}</b>
              <i class="fa fa-language" aria-hidden="true"></i>
              Ngôn ngữ
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLanguage">
              <a class="dropdown-item" href="javascript:;" (click)="translate.use('vi')">Tiếng Việt</a>
              <a class="dropdown-item" href="javascript:;" (click)="translate.use('en')">Tiếng Anh</a>
            </div>
          </div>
        </div>

        <div class="col-3">
          <!--          <form id="search-site" autocomplete="on" class="form-horizontal">-->
          <div class="input-group">
            <input type="text" [(ngModel)]="valueSearch" class="form-control" placeholder="Bạn muốn tìm gì...">
            <span>
                <button class="btn btn-primary" type="submit" aria-label="tìm kiếm" (click)="onSearch()"><i
                  class="fa fa-search"></i> Tìm kiếm</button>
              </span>
          </div>

          <!--          </form>-->
        </div>

      </div>
      <div class="row header-two">
        <nav>
          <a class="d-inline-block" title="Điện thoại di động, smartphone" routerLink="/" [routerLinkActiveOptions]="{exact:
true}" routerLinkActive="active">
            <i class="fa fa-home"></i>Trang chủ
          </a>
          <a class="d-inline-block" title="Điện thoại di động, smartphone" routerLink="/product"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:
true}">
            <i class="fa fa-mobile"></i>Sản phẩm
          </a>

          <a class="d-inline-block" title="Hỏi đáp" (click)="checkCart()" routerLink="/product/cart"
             routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
            Giỏ hàng
            <mat-icon [matBadge]="prods.length">
              notifications
            </mat-icon>
          </a>

          <a class="d-inline-block" title="Máy tính xách tay, Laptop" routerLink="/user/login" routerLinkActive="active"
             [matMenuTriggerFor]="menu">
            <i class="fa fa-laptop"></i>
            Tài Khoản

          </a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="!checkUser()" (click)="register()">
              Đăng kí tài khoản
            </button>
            <button mat-menu-item *ngIf="!checkUser()" (click)="logIn()">
              Đăng nhập
            </button>
            <button mat-menu-item *ngIf="checkUser()" (click)="logOut()">
              Đăng xuất
            </button>
            <button mat-menu-item *ngIf="checkUser()" (click)="logOut()">
              Đổi mật khẩu
            </button>
            <button mat-menu-item *ngIf="checkUser()" (click)="logOut()">
              Thông tin cá nhân
            </button>
            <button mat-menu-item *ngIf="checkUser()" (click)="logOut()">
              Lịch sử mua hàng
            </button>
          </mat-menu>
          <!--          router đến bất kì đường đãn nào , kể cả trong con nhé -->
          <a class="d-inline-block" title="Máy tính bảng, tablet" routerLink="/user/create">
            <i class="fa fa-tablet"></i>Tablet
          </a>
          <a class="d-inline-block" routerLink="/routing" routerLinkActive="active"
             title="Phụ kiện điện thoại di động, phụ kiện tablet, phụ kiện laptop">
            <i class="fa fa-headphones"></i>Routing DEmo
          </a>

        </nav>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-60" src="https://cdn.tgdd.vn/2020/06/banner/huawei-tab-800-170-800x170.png"
                   width="500" height="140" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-60" src="https://cdn.tgdd.vn/2020/06/banner/huawei-tab-800-170-800x170.png"
                   width="500" height="140" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-60" src="https://cdn.tgdd.vn/2020/06/banner/huawei-tab-800-170-800x170.png"
                   width="500" height="140" alt="Third slide">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

