<div *ngIf="product" class="mt-3 ml-3">
  <img style="height: 250px;width: 240px"
       [src]="handleGetAvatar(product.imgBase64)"
  />
  <hr>
  <!--       src="/assets/images/product/{{displayImg(product.img)}}.jpg">-->

  <a [routerLink]="['/product/view', product.maSanPham, product.id]"><h5>{{product.tenSanPham}}</h5></a>
  <div class="price">
    <span style="color: red;
    font-weight: bold;
    font-size: 107%;">
      {{displayValueAfterOff(product.gia, product.giamGia)|currency: 'VND'}}</span>
    <span class="ml-4" matBadgeColor="warn" matBadgeOverlap matBadgeSize="small"
          [matBadge]="displayValueOff(product.giamGia)">{{product.gia|currency: 'VND'}}</span>
  </div>
  <div class="ratingresult">
    <span class="pull-right mr-4">{{product.binhLuans.length}} đánh giá</span>
    <i *ngFor="let i of initStar(product.star.soSao)" class="fa fa-star ml-1 text-warning"></i>

  </div>

<!--  <p class="installment">Trả góp 0%</p>-->

  <button class="btn btn-light" style="border: 1px solid lightgray;padding: 5px" (click)="addCart(product)">
<!--    <mat-icon>add</mat-icon>-->
    <i class="fa fa-cart-plus" aria-hidden="true"></i>
    Thêm vào giỏ
  </button>

  <button class="btn btn-light ml-3" style="border: 1px solid lightgray" (click)="addCart(product)">
<!--    <mat-icon>shopping-cart</mat-icon>-->
    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
    Mua
  </button>
  <i class="fa fa-heart" (click)="onFavorite(product.isFavorites)" [ngClass]="{favorited: product.isFavorites}" aria-hidden="true"></i>
<!--  <button class="btn btn-light " class="mr-4" style="border: 1px solid lightgray">-->
<!--    <mat-icon>shopping-cart</mat-icon>-->
<!--    Mua hàng-->
<!--  </button>-->

</div>





