<app-home-header (dataSearch)="onSeach($event)"></app-home-header>

<!--{{'APP_FEATURE.COMMON.TITLE' | translate}}-->

<!--<div style="display: none" #homeComponent></div>-->

<!--<app-carousel-header></app-carousel-header>-->

<!--<app-type-header></app-type-header>-->

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <h2>MÁY TÍNH BẢNG NỔI BẬT NHẤT</h2>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-3">-->
<!--      <app-product-view></app-product-view>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <app-product-view></app-product-view>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <app-product-view></app-product-view>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <app-product-view></app-product-view>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <app-product-view></app-product-view>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <app-product-view></app-product-view>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<!--<app-footer-home></app-footer-home>-->

<ebid-breadcrumb></ebid-breadcrumb>
<div style="background: #f8f8f8">
<router-outlet></router-outlet>

<!--  <hr>-->

  <app-footer-home></app-footer-home>
</div>


