<!--Content-->
<!--<div class="container-fluid">-->

<div class="page-inner">

  <header class="page-title-bar">
    <div class="">
      <b class="lead" style="color: cornflowerblue">
        <!--        <app-page-header [heading]="('APP_FEATURE.USER.ACCOUNT.TITLE' | translate)"></app-page-header>-->
        <!--        {{('APP_FEATURE.USER.ACCOUNT.TITLE' | translate)}}-->
        Quản lý Khách hàng
      </b>

      <button mat-button class="btn-search float-right"
              style="border: 1px solid gray" (click)="addForm=true">
        <mat-icon>add</mat-icon>
        Thêm mới
      </button>
    </div>


  </header>
  <hr>
  <div class="col-12 p-0">
    <form>
      <div class="form-group form-inline">
        Tìm kiếm trong trang: <input class="form-control ml-2" type="text" [formControl]="filter"/>
      </div>
    </form>
  </div>

  <table class="table table-hover table-condensed table-bordered">
    <thead class="text-center th-text-middle" style="background-color: rgba(240,240,240,0.84)">
    <tr class="text-dark">
      <!--      <th rowspan="2" style="width: 3%;">STT</th>-->
      <th rowspan="2" style="width: 3%;">Id</th>
      <th rowspan="2" scope="col">
        Mã khách hàng
      </th>
      <!--      <th rowspan="2" scope="col">Email</th>-->
      <th rowspan="2" scope="col">
        Tên khách hàng
      </th>

      <th rowspan="2" scope="col">
        Ngày sinh
      </th>
      <th rowspan="2" scope="col">
        Giới tính
      </th>
      <th rowspan="2" scope="col">
        Địa chỉ
      </th>
      <th rowspan="2" scope="col">
        Số điện thoại
      </th>

      <th rowspan="2" scope="col">
        Ảnh đại diện
      </th>

      <th rowspan="2" scope="col">
        Tài khoản
      </th>
      <th rowspan="2" scope="col">
        Hành động
      </th>

    </tr>
    </thead>
    <tbody *ngIf="list">
    <tr *ngIf="addForm">
      <!--      <td class="text-center">-->
      <!--        <i></i>-->
      <!--      </td>-->

      <td class="text-center">
        <i>Id: Auto Generate</i>
      </td>
      <td>
        <textarea type="text" class="form-control" rows="2" [(ngModel)]="maKhachHang"></textarea>
      </td>

      <td>
        <textarea type="text" class="form-control" rows="2" [(ngModel)]="tenKhachHang"></textarea>
      </td>
      <td>
        <input class="form-control" type="date" [(ngModel)]="ngaySinh" id="example-date-input">
      </td>

      <td>
        <select class="" [(ngModel)]="gioiTinh">
          <option value="true">Nam</option>
          <option value="false">Nữ</option>
        </select>
      </td>

      <td>
        <textarea type="text" class="form-control" rows="2" [(ngModel)]="diaChi"></textarea>
      </td>

      <td>
        <textarea type="text" class="form-control" rows="2" [(ngModel)]="soDienThoai"></textarea>
      </td>

      <td>
<!--        <input type="file" (ngModelChange)="onChooseFile($event)" [(ngModel)]="img"/>-->
<!--        <input type="file" (change)="onChooseFile($event)" />-->

<!--        <label for="file">Choose File</label>-->
        <input type="file"
               id="file"
               (change)="onChooseFile($event.target.files)">
      </td>

      <td>
        <select [(ngModel)]="idTaiKhoan">
          <option value="">Chọn tài khoản</option>
          <option *ngFor="let acc of listAccount" [value]="acc.id">{{acc.tenDangNhap}}</option>
        </select>
      </td>

      <td class="text-center">
        <i class="fa fa-plus-square" [matTooltip]="'Thêm mới'" (click)="onAdd()"
           style="padding: 0px 3px;color: blue;font-size: 130%"
           aria-hidden="true"></i>

        <i class="fa fa-times" [matTooltip]="'Xóa'" (click)="addForm=false"
           style="padding: 0px 3px;color: blue;font-size: 130%"
           aria-hidden="true"></i>

      </td>

    </tr>
    <tr *ngFor="let model of list; let i=index">
      <!--      <td class="text-center">-->
      <!--        <i>{{i + 1}}</i>-->
      <!--      </td>-->

      <td class="text-center">
        <i>{{model.id}}</i>
      </td>
      <td>
        <ngb-highlight *ngIf="!model.check" [result]="model.maKhachHang" [term]="filter.value"></ngb-highlight>
        <input type="text" *ngIf="model.check" class="form-control"
               [(ngModel)]="model.maThuongHieu"/>
      </td>

      <td>
        <ngb-highlight [result]="model.tenKhachHang" *ngIf="!model.check" [term]="filter.value"></ngb-highlight>
        <input type="text" *ngIf="model.check" class="form-control"
               [(ngModel)]="model.tenKhachHang"/>

      </td>
      <td>
        <ngb-highlight [result]="model.ngaySinh" *ngIf="!model.check" [term]="filter.value"></ngb-highlight>
        <input class="form-control" *ngIf="model.check" type="date" [(ngModel)]="model.ngaySinh"
               id="example-date-input">

      </td>

      <td>
        <ngb-highlight [result]="model.gioiTinh === true ? 'Nam' : 'Nữ'" [term]="filter.value" *ngIf="!model.check"></ngb-highlight>
        <select class="" *ngIf="model.check" [(ngModel)]="model.gioiTinh">
          <option value="true">Nam</option>
          <option value="false">Nữ</option>
        </select>

      </td>

      <td>
        <ngb-highlight [result]="model.diaChi" *ngIf="!model.check" [term]="filter.value"></ngb-highlight>
        <textarea type="text" *ngIf="model.check" class="form-control" rows="3"
                  [(ngModel)]="model.diaChi"></textarea>

      </td>

      <td>
        <ngb-highlight [result]="model.soDienThoai" *ngIf="!model.check" [term]="filter.value"></ngb-highlight>
        <input type="text" *ngIf="model.check" class="form-control"
               [(ngModel)]="model.soDienThoai"/>

      </td>

      <td>
        <ngb-highlight [result]="model.img" *ngIf="!model.check" [term]="filter.value"></ngb-highlight>
        <input type="file" *ngIf="model.check" class="form-control"
               [(ngModel)]="model.img"/>

      </td>

      <td>
        <ngb-highlight [result]="model.idTaiKhoan" *ngIf="!model.check" [term]="filter.value"></ngb-highlight>
        <select [(ngModel)]="model.idTaiKhoan" *ngIf="model.check">
          <option value="">Chọn tài khoản</option>
          <option *ngFor="let acc of listAccount" [value]="acc.id">{{acc.tenDangNhap}}</option>
        </select>

      </td>

      <!--      hành động-->
      <td class="text-center">
        <i class="fa fa-pencil-square-o" *ngIf="!model.check" [matTooltip]="'Sửa'" (click)="model.check=true"
           style="padding: 0px 3px;color: blue;font-size: 130%"
           aria-hidden="true"></i>

        <i class="fa fa-times" [matTooltip]="'Xóa'" *ngIf="!model.check" (click)="onDelete(model.id)"
           style="padding: 0px 3px;color: blue;font-size: 130%"
           aria-hidden="true"></i>

        <!--        đã bấm nút sửa-->
        <i class="fa fa-pencil-square-o" *ngIf="model.check" [matTooltip]="'Xác nhận'" (click)="onEdit(model)"
           style="padding: 0px 3px;color: blue;font-size: 130%"
           aria-hidden="true"></i>

        <i class="fa fa-times" [matTooltip]="'Hủy'" *ngIf="model.check" (click)="model.check=false"
           style="padding: 0px 3px;color: blue;font-size: 130%"
           aria-hidden="true"></i>
        <!--        end: đã bấm nút sửa-->

      </td>
    </tr>
    </tbody>
  </table>

  <!--Phan trang-->
  <div class="row">
    <!--      <div class="col-sm-4">-->
    <!--      </div>-->

    <div class="col-sm-8 d-flex justify-content-end">
      <div *ngIf="pagination" class="display-result"
           style="margin-top: 4px;margin-left: 40px">
        Hiển thị <span *ngIf="pagination.totalElements === 0; else haveData">0</span>
        <ng-template #haveData><span>{{(pagination.size) * (currentPage - 1) + 1}}</span></ng-template>
        -
        <span *ngIf="currentPage === pagination.totalPages; else template ">{{pagination.totalElements}}</span>
        <ng-template #template>{{(pagination.size) * (currentPage)}}</ng-template>
        / {{pagination.totalElements}}
      </div>
    </div>
    <div class="col-sm-3 d-flex justify-content-end">
      <div class="list-pagination">
        <ngb-pagination
          class="d-inline-block"
          *ngIf="pagination"
          [collectionSize]="pagination.totalElements"
          [(page)]="currentPage"
          [pageSize]="pagination.size"
          [maxSize]="10"
          [ellipses]="true"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="goToPage($event)"
          size="sm"
        >
        </ngb-pagination>
      </div>
    </div>
    <!--End: phan trang-->
  </div>

