<div class="container" *ngIf="data" style="background: floralwhite">
  <br>
  <div class="row">
    <h2 class="tieu-de">
      Thông số kĩ thuật
    </h2>

  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <!--      <div class="row">-->
      <div class="limit">
        <img
          [src]="handleGetAvatar(data.imgBase64)">
        <!--        <img style="height: 250px;width: 240px"-->
        <!--                 src="/assets/images/product/{{displayImg(data.img)}}.jpg">-->
      </div>
      <hr>
      <div class="row" *ngIf="images">
        <div class="col-4 limit" *ngFor="let img of images">
          <img [src]="handleGetAvatar(img.imgBase64)"/>
        </div>
        <!--      <img style="height: 250px;width: 230px" src="/assets/images/product/{{img.tenAnh}}" />-->
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-7">
      <div class="row">
        <table class="table table-bordered">
          <!--          <thead>-->
          <!--&lt;!&ndash;          <tr>&ndash;&gt;-->
          <!--&lt;!&ndash;            <th>Firstname</th>&ndash;&gt;-->
          <!--&lt;!&ndash;            <th>Lastname</th>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;            <th>Email</th>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;          </tr>&ndash;&gt;-->
          <!--          </thead>-->
          <tbody>
          <tr>
            <td>Tên sản phẩm</td>
            <td><b>{{data.tenSanPham}}</b></td>
          </tr>
          <tr>
            <td>Giá</td>
            <td><b> {{data.gia}}</b></td>
          </tr>
          <tr>
            <td>Đối tượng sử dụng</td>
            <td><b> {{data.doiTuongSuDung}}</b></td>
          </tr>
          <tr>
            <td>Kích thước bề mặt</td>
            <td>
              <b>{{data.kichThuocBeMat}}</b>
            </td>
          </tr>

          <tr>
            <td>Chất liệu mặt kính</td>
            <td>
              <b>{{data.chatLieuMatKinh}}</b>
            </td>
          </tr>


          <tr>
            <td>Chất liệu dây</td>
            <td>
              <b>{{data.chatLieuDay}}</b>
            </td>
          </tr>

          <tr>
            <td>Độ dày</td>
            <td>
              <b>{{data.doDay}}</b>
            </td>
          </tr>
          <tr>
            <td>Độ dài</td>
            <td>
              <b>{{data.doDai}}</b>
            </td>
          </tr>
          <tr>
            <td>Độ rộng của dây</td>
            <td>
              <b>{{data.doRongCuaDay}}</b>
            </td>
          </tr>
          <tr>
            <td>Kiểu khóa</td>
            <td>
              <b>{{data.kieuKhoa}}</b>
            </td>
          </tr>
          <tr>
            <td>Chất liệu vỏ máy</td>
            <td>
              <b>{{data.chatLieuVoMay}}</b>
            </td>
          </tr>
          <tr>
            <td>Máy</td>
            <td>
              <b>{{data.may}}</b>
            </td>
          </tr>
          <tr>
            <td>Khả năng chịu nước</td>
            <td>
              <b>{{data.khaNangChiuNuoc}}</b>
            </td>
          </tr>
          <tr>
            <td>KGiảm giá</td>
            <td>
              <b>{{data.giamGia}}</b>
            </td>
          </tr>
          <tr>
            <td>Thương hiệu</td>
            <td>
              <b>{{data.thuongHieuEntity.tenThuongHieu}}</b>
            </td>
          </tr>
          <tr>
            <td>Loại sản phẩm</td>
            <td>
              <b>{{data.loaiSanPham.tenLoaiSanPham}}</b>
            </td>
          </tr>

          </tbody>
        </table>


      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <h5 class="ml-10">{{data.binhLuans.length}} Bình Luận</h5>
    <p>Sắp xếp theo Thời gian bình luận</p>
    <label class="radio-inline"><input type="radio" name="optradio" value="desc" (click)="onClickRadio($event.target.value)" checked>Giảm</label>
    <label class="radio-inline"><input type="radio" name="optradio" value="asc" (click)="onClickRadio($event.target.value)">Tăng</label>
  </div>

  <div class="row" *ngFor="let bl of binhLuans">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <marquee behavior="" direction="">From: <b>{{bl.tenKhachHang}}</b>
            | <i class="fa fa-phone-square" aria-hidden="true"></i>Số điện thoại: <b>{{bl.soDienThoai.replace(bl.soDienThoai.substring(0,3),'***')}}</b></marquee>
        </div>
        <div class="card-body">
          <h5 class="card-title">Nội dung bình luận</h5>
          <p class="card-text">{{bl.noiDung}}.</p>
          <footer class="blockquote-footer"><cite >Thời gian: {{bl.ngayGio | date : 'dd-MM-yyyy hh:mm:ss a'}}</cite></footer>
          <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <textarea class="form-control" rows="3" #cmt placeholder="Để lại bình luận của bạn" type="text" ></textarea>
    </div>
    <div class="col-6">
      <input class="form-control" #name placeholder="Nhập tên của bạn" type="text" />
    </div>
    <div class="col-6">
      <input class="form-control" #phone placeholder="Nhập số điện thoại" type="text" />
    </div>
    <div class="col-12">
      <button class="btn btn-primary" *ngIf="checkUser()"
              [disabled]="name.value.replace('\\s+', ' ') === ''|| name.value.replace('\\s+', ' ') === ' '"
              (click)="onSendComment(cmt.value, name.value, phone.value)">Gửi Bình luận</button>
    </div>

  </div>

</div>
