<div class="container" style="padding: 4px;background: lavender">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form [formGroup]="formLogin">
        <header class="heading">Đổi mật khẩu</header>
        <hr>
        <div class="row mt-2">
          <div class="col-4">Mật khẩu cũ<span class="text-danger ml-2">*</span></div>
          <div class="col-8">
            <input type="password" [pattern]="unamePattern" class="form-control" formControlName="oldPassword">
            <span *ngIf="formLogin.get('oldPassword').errors?.pattern" class="er">UserName không hợp lệ</span>
            <span *ngIf="formLogin.get('oldPassword').errors?.required" class="er">Không được để trống</span>
            <span *ngIf="formLogin.get('oldPassword').errors?.maxlength" class="er">Vượt quá số lượng kí tự</span>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">Mật khẩu mới<span class="text-danger ml-2">*</span></div>
          <div class="col-8">
            <input type="password" [pattern]="unamePattern" class="form-control" formControlName="password">
            <span *ngIf="formLogin.get('password').errors?.pattern" class="er">UserName không hợp lệ</span>
            <span *ngIf="formLogin.get('password').errors?.required" class="er">Không được để trống</span>
            <span *ngIf="formLogin.get('password').errors?.maxlength" class="er">Vượt quá số lượng kí tự</span>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">Nhập lại mật khẩu <span class="text-danger">*</span></div>
          <div class="col-8">
            <input type="password" class="form-control" formControlName="rePassword">
            <span *ngIf="formLogin.get('rePassword').errors?.pattern" class="er">UserName không hợp lệ</span>
            <span *ngIf="formLogin.get('rePassword').errors?.required" class="er">Không được để trống</span>
            <span *ngIf="formLogin.get('rePassword').errors?.maxlength"
                  class="er">Vượt quá số lượng kí tự</span>
            <span *ngIf="formLogin.get('rePassword').value!==formLogin.value.password" class="er">Mật khẩu không khớp</span>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4"></div>
          <div class="col-8">
            <button class="btn btn-success" [disabled]="formLogin.invalid" style="display: inline-flex" (click)="onLogin()">
              <mat-icon>login</mat-icon>
              Xác Nhận
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>

</div>
