<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="isOpenNav">Quản trị viên

    <ul class="list-group">
      <li class="list-group-item" routerLink="/admin/account-list"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
        Quản lý tài khoản
      </li>
      <li class="list-group-item" routerLink="/admin/product-list"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
        Quản lý sản phẩm
      </li>

      <li class="list-group-item" routerLink="/admin/model-list"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
        Quản lý Thương hiệu
      </li>
      <li class="list-group-item" routerLink="/admin/cat-list"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
        Quản lý Loại sản phẩm
      </li>
      <li class="list-group-item" routerLink="/admin/order-list"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
        Quản lý đơn hàng
      </li>

      <li class="list-group-item" routerLink="/admin/star-list"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
        Quản lý Danh mục Số sao
      </li>
      <hr>
      <li class="list-group-item" routerLink="/admin/cart-list"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
        Quản lý Giỏ hàng
      </li>
      <li class="list-group-item" routerLink="/admin/customer-list"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
        Quản lý Khách hàng
      </li>
    </ul>
    <br>
    <br>
    <button class="btn btn-outline-info" *ngIf="isOpenNav" (click)="isOpenNav=!isOpenNav">
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <br>
    <button class="btn btn-outline-info" *ngIf="!isOpenNav" (click)="isOpenNav=!isOpenNav">
      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    </button>
    <!--    <button *ngIf="!isOpenNav">Open SideBar</button>-->
  </mat-sidenav-content>
</mat-sidenav-container>

<!--có một cách khác để gọi nav ra là : #nav vào mat-sidenav-->
<!--và ở button gọi các phươn thức: (click)="nav.close()/open()/toogle()"-->


