li.list-group-item.active{
  background: #288ad6;
}

.mat-sidenav{
  background: blanchedalmond;
  width: 300px;
}

.mat-sidenav-container{
  height: 100%;
}
.mat-sidenav,.mat-sidenav-content{
  padding: 16px;
}
