
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <a href="https://www.thegioididong.com/may-tinh-bang-apple-ipad">Đồng hồ Nam</a>
          <a class="ml-4" href="https://www.thegioididong.com/may-tinh-bang-samsung">Đồng hồ Nữ</a>
          <a class="ml-4" href="https://www.thegioididong.com/may-tinh-bang-samsung">Đồng hồ Thụy Sĩ</a>
          <a  class="ml-4" href="https://www.thegioididong.com/may-tinh-bang-samsung">Đồng hồ Casio</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="plc">
        <ul>
          <li><i class="icGh"></i><span>Giao hàng nhanh chóng</span></li>
          <li><i class="icTt"></i><span>Thanh toán: tiền mặt, visa / master, trả góp</span></li>
          <li><i class="icTt"></i><span>Thanh toán: tiền mặt, visa / master, trả góp</span></li>
          <li><i class="icTt"></i><span>Thanh toán: tiền mặt, visa / master, trả góp</span></li>
        </ul>
      </div>
    </div>

    <hr>
  </div>

  <footer style="background: #f1faf3">
    <div >
<!--      <ul class="colfoot">-->
<!--        <li><a href="http://mwg.vn" target="_blank" title="Giới thiệu công ty (mwg.vn)" rel="noopener">Giới thiệu công ty-->
<!--          <span>(mwg.vn)</span></a></li>-->
<!--        <li><a href="//vieclam.thegioididong.com" target="_blank" title="Tuyển dụng" rel="noopener">Tuyển dụng</a></li>-->

<!--      </ul>-->
      <ul class="colfoot">
        <li>

          <p>Gọi mua hàng <a href="tel:18001060">1800.1060</a> (7:30 - 22:00)</p>

        </li>
      </ul>
      <ul class="colfoot">
        <li>
          <p>Gọi khiếu nại &nbsp; <a href="tel:18001062">1800.1062</a> (8:00 - 21:30)</p>
        </li>
      </ul>

      <ul class="colfoot">
        <li>
          <p>Gọi khiếu nại &nbsp; <a href="tel:18001062">1800.1062</a> (8:00 - 21:30)</p>
        </li>
      </ul>

    </div>
    <div class="text-center">
      <marquee>© 2020. CWatch Shop. Địa chỉ: Hoàng Quốc Việt, Cầu Giấy, Hà Nội. Điện thoại: 0347373332. Email:
        cwatch@gmail.com.</marquee>
    </div>
  </footer>
