<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="catetag ">
        <div>
          <a href="https://www.thegioididong.com/may-tinh-bang-apple-ipad">Máy tính bảng iPad</a>
          <a href="https://www.thegioididong.com/may-tinh-bang-samsung">Máy tính bảng Samsung</a>
          <a href="https://www.thegioididong.com/khuyen-mai-soc/ipad-7th">iPad 10.2 inch</a>
          <a href="https://www.thegioididong.com/may-tinh-bang/samsung-galaxy-tab-s6-lite">Samsung Galaxy Tab S6 Lite</a>
          <a href="https://www.thegioididong.com/may-tinh-bang/lenovo-tab-e10-tb-x104l-den">Lenovo Tab E10</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="plc">
      <ul>
        <li><i class="icGh"></i><span>Giao hàng nhanh chóng</span></li>
        <li><i class="icTt"></i><span>Thanh toán: tiền mặt, visa / master, trả góp</span></li>
        <li><i class="icTn"></i><span>Trải nghiệm sản phẩm tại nhà</span></li>
        <li><i class="icLd"></i><span>Lỗi đổi tại nhà nhanh chóng</span></li>
        <li><i class="icHt"></i><span>Hỗ trợ suốt thời gian sử dụng. Hotline: <a href="tel:18001763">1800.1763</a></span></li>
      </ul>
    </div>
  </div>
</div>

<footer>
  <div class="rowfoot1">
    <ul class="colfoot">
      <li><a href="/lich-su-mua-hang" title="Lịch sử mua hàng">Lịch sử mua hàng</a></li>
      <li><a href="/tra-gop" title="Hướng dẫn mua trả góp">Tìm hiểu về mua trả góp</a></li>
      <li><a href="/bao-hanh" title="Tìm trung tâm bảo hành">Chính sách bảo hành</a></li>
      <li><a href="/chinh-sach-bao-hanh-san-pham" title="Chính sách đổi trả">Chính sách đổi trả</a></li>


      <li class=""><a href="/giao-hang" title="Giao hàng &amp; Thanh toán">Giao hàng &amp; Thanh toán</a></li>
      <li class=""><a href="/huong-dan-mua-hang" title="Hướng dẫn mua online">Hướng dẫn mua online</a></li>
      <li class=""><a href="/b2b" title="Mua hàng doanh nghiệp">Bán hàng doanh nghiệp</a></li>
      <li class=""><a href="/phieu-mua-hang" title="Phiếu mua hàng">Phiếu mua hàng</a></li>
      <li class=""><a href="//hddt.thegioididong.com" target="_blank" title="In hóa đơn điện tử" rel="nofollow noopener">In hóa đơn điện tử</a></li>
      <li class=""><a href="/tos" title="Quy chế hoạt động">Quy chế hoạt động</a></li>
   </ul>
    <ul class="colfoot">
      <li><a href="http://mwg.vn" target="_blank" title="Giới thiệu công ty (mwg.vn)" rel="noopener">Giới thiệu công ty <span>(mwg.vn)</span></a></li>
      <li><a href="//vieclam.thegioididong.com" target="_blank" title="Tuyển dụng" rel="noopener">Tuyển dụng</a></li>
      <li><a href="/lien-he" title="Gửi góp ý, khiếu nại">Gửi góp ý, khiếu nại</a></li>
      <li><a href="/he-thong-sieu-thi-the-gioi-di-dong" title="Tìm siêu thị (2.032 shop)">Tìm siêu thị <span>(2.032 shop)</span></a></li>
      <li>
        <a class="viewmb" rel="nofollow" href="/may-tinh-bang?sclient=mobile" title="Xem bản mobile">Xem bản mobile</a>
      </li>
    </ul>
    <ul class="colfoot">
      <li>

        <p>Gọi mua hàng <a href="tel:18001060">1800.1060</a> (7:30 - 22:00)</p>
        <p>Gọi khiếu nại &nbsp; <a href="tel:18001062">1800.1062</a> (8:00 - 21:30)</p>
        <p>Gọi bảo hành &nbsp; <a href="tel:18001064">1800.1064</a> (8:00 - 21:00)</p>
        <p>Kỹ thuật &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="tel:18001763">1800.1763</a> (7:30 - 22:00)</p>
        <a target="_blank" rel="nofollow noopener" class="bct" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=20098" aria-label="bộ công thương mwg"><i class="icontgdd-bct"></i></a>
        <a rel="nofollow noopener" class="bct" href="/tos#giai-quyet-khieu-nai" aria-label="bộ công thương chống hàng giả"><i class="icontgdd-hg"></i></a>
        <a href="//www.dmca.com/Protection/Status.aspx?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d&amp;refurl=http://www.thegioididong.com/may-tinh-bang" title="DMCA.com Protection Status" class="dmca-badge"> <img style="opacity:0.6;margin: 0px auto -8px;display: block;" src="//images.dmca.com/Badges/dmca-badge-w100-5x1-11.png?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d" alt="DMCA.com Protection Status"></a>
      </li>
    </ul>

  </div>
  <div class="rowfoot2">
    <p>© 2018. Công ty cổ phần Thế Giới Di Động. GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020. Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. <a href="/thoa-thuan-su-dung-trang-mxh">Xem chính sách sử dụng</a></p>
  </div>
</footer>

