<div class="container" >
  <div class="row">
    <mat-tab-group [selectedIndex]="0" #x (selectedTabChange)="onChangeTab(x)">
      <mat-tab label="Sản Phẩm Bán Chạy Trong Tháng">
        <ng-template matTabContent>
          <ng-container *ngIf="dataFull">

            <!--          Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}-->
            <app-a-product-list [products]="dataFull.content">

            </app-a-product-list>
            <mat-paginator [length]="dataFull.totalElements" (page)="onChangePage($event)"
                           [pageSize]="pageMeta.pageSize"
                          [pageSizeOptions]="numberOfProductSearch()"
                           >
            </mat-paginator>
          </ng-container>
        </ng-template>
      </mat-tab>

      <mat-tab label="Sản Phẩm Bán Chạy Trong Tuần">
        <ng-template matTabContent>
          Content 1 - Loaded: {{getTimeLoaded(2) | date:'medium'}}
        </ng-template>
      </mat-tab>
      <mat-tab label="Sản Phẩm Mới Ra Mắt"> Content 3</mat-tab>
      <mat-tab label="Sản Phẩm Cao Cấp"> Content 3</mat-tab>
      <mat-tab label="Sản Phẩm Trung Cấp"> Content 3</mat-tab>
    </mat-tab-group>
  </div>

</div>

