<a href="/may-tinh-bang/ipad-10-2-inch-wifi-cellular-32gb-2019">
    <img width="150" height="150" src="https://cdn.tgdd.vn/Products/Images/522/213099/TimerThumb/ipad-10-2-inch-wifi-cellular-32gb-2019-(23).jpg">
    <h3>iPad 10.2 inch Wifi Cellular 32GB (2019)</h3>


    <div class="price">
      <strong>12.990.000₫</strong>
      <span>13.990.000₫</span>

    </div>
    <div class="ratingresult">
    </div>
    <h6 class="textkm"></h6>

    <div class="promo noimage">
      <p> Tặng 2 suất mua Đồng hồ thời trang giảm 40% (không áp dụng thêm khuyến mãi khác) và <b>1 K.mãi</b> khác</p>
    </div>
    <figure class="bginfo">
      <span>Màn hình: 10.2", LED backlit LCD</span><span>CPU: Apple A10 Fusion 4 nhân, iPadOS 13</span><span>RAM: 3 GB, Bộ nhớ: 32 GB</span><span>Camera: 8 MP, Selfie 1.2 MP</span><span>Kết nối mạng WiFi, 3G, 4G LTE</span><span>PIN: 32.4 Wh (Khoảng 8600 mAh), SIM: 1 SIM</span>
    </figure>
    <label class="discount">GIẢM 1.000.000₫</label>                                <input class="spInfo" data-brand="iPad (Apple)" data-cat="Máy tính bảng" data-code="2440931000264" data-price="13990000" id="data213099" name="data213099" type="hidden" value="213099">
  </a>
  <div class="btnbuy">
    <button type="button" class="btn_buynow" onclick="location.href='/them-vao-gio-hang?ProductId=213099'">Mua</button>
    <button type="button" class="btn_buyins" onclick="location.href='/tra-gop/may-tinh-bang/ipad-10-2-inch-wifi-cellular-32gb-2019'">Mua trả góp</button>
  </div>
