<div class="col-12 p-0">
  <form>
    <div class="form-group form-inline">
      Tìm kiếm trong trang: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>

</div>

<table class="table table-hover table-condensed table-bordered">
  <thead class="text-center">
  <tr class="text-dark">
    <th rowspan="2" style="width: 3%;">STT</th>
    <th rowspan="2" scope="col" sortable="tenDangNhap" (sort)="onSort($event)">
      Tên đăng nhập
    </th>
    <th rowspan="2" scope="col" sortable="email" (sort)="onSort($event)">Email</th>
    <th rowspan="2" scope="col" >
      Quyền sử dụng
    </th>
    <th rowspan="2" scope="col">
      Hành động
    </th>

  </tr>
  </thead>
  <tbody *ngIf="violateTemp && violateTemp.length > 0">
  <!--  mình sẽ cho hiện màu theo quyền-->
  <tr *ngFor="let user of violateTemp; let i=index"
      [ngClass]="setClass(user)">
<!--      (click)="onApproved(user)"-->
    <td class="text-center">
      <i>{{i + 1}}</i>
    </td>
<!--    <td>{{user.tenDangNhap}}</td>-->
    <td>
<!--      {{user.tenDangNhap}}-->
      <ngb-highlight [result]="user.tenDangNhap" [term]="filter.value"></ngb-highlight>
    </td>

    <td>
<!--      {{ user.email }}-->
      <ngb-highlight [result]="user.email" [term]="filter.value"></ngb-highlight>
    </td>
    <td>
<!--      {{ getListQuyenSuDung(i) }}-->
      <ngb-highlight [result]="getListQuyenSuDung(i)" [term]="filter.value"></ngb-highlight>
    </td>
    <td class="text-center">
      <!--      <i class="fa fa-pencil-square-o" [matTooltip]="'Sửa'" (click)="!(itemrow.status==='XOA_HUY'||itemrow.status==='CHO_PHE_DUYET') ? onEditTemplate(i) : null"  [ngClass]="{'fa-disabled': (itemrow.status==='XOA_HUY'||itemrow.status==='CHO_PHE_DUYET')}" style="padding: 0px 3px;color: blue;font-size: 130%" aria-hidden="true"></i>-->

      <!--      <i class="fa fa-times" [matTooltip]="'Hủy'" (click)="!(itemrow.status!== 'SOAN_THAO' && itemrow.status!=='TU_CHOI') ? onDeleteTemplate(itemrow._id) : null" [ngClass]="{'fa-disabled': itemrow.status!== 'SOAN_THAO' && itemrow.status!=='TU_CHOI' }" style="padding: 0px 3px;color: blue;font-size: 130%" aria-hidden="true"></i>-->
      <!--    -->
      <!--      <i class="fa fa-history" (click)="viewHistory(i)" [matTooltip]="'Lịch sử'" style="padding: 0px 3px;color: blue;font-size: 130%" aria-hidden="true"></i>-->
      <i class="fa fa-pencil-square-o" [matTooltip]="'Sửa'" (click)="onEdit(user)" style="padding: 0px 3px;color: blue;font-size: 130%"
         aria-hidden="true"></i>

      <i class="fa fa-times" [matTooltip]="'Xóa'" (click)="onDelete(user.id)" style="padding: 0px 3px;color: blue;font-size: 130%"
         aria-hidden="true"></i>

      <i class="fa fa-history" [matTooltip]="'Lịch sử'" style="padding: 0px 3px;color: blue;font-size: 130%"
         aria-hidden="true"></i>

    </td>
    <!--    <td>{{printStatus(user.status)}}</td>-->
    <!--    <td>{{ user.rquestDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>-->

  </tr>
  </tbody>
  <tbody *ngIf="(!violateTemp || violateTemp.length===0);else elseBlock">
  <tr>
    <td colspan="10" class="text-center font-italic">Không tìm thấy kết quả thỏa điều kiện!</td>
  </tr>
  </tbody>

  <ng-template #elseBlock>
    <tbody>
    <tr>
    </tr>
    </tbody>
  </ng-template>

</table>
