li {
  list-style-type: none;
  padding-inline-start: 0px;
  /* padding: 0px 41px; */
}

ul {
  padding-inline-start: 15px;
}

.row {
  padding: 2px;
}

a {
  padding: 6px 58px;
  border: solid 1px;
}
a:hover {
  color: blueviolet;
}
